{% extends "Shop/basic.html" %}
{%block title%}Tracker {% endblock %}
{% block CSS %}
    
<style>
    footer a {
        text-decoration: none;
        color: white;
    }
    footer a:hover {
        color: #ff9c00; /* Highlight on hover */
    }
    footer i {
        font-size: 1.5em;
    }
    </style>
    
{% endblock  %}
{%block body%} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
   <div class= "col my-4">
        <H2>Step 1 - Enter Your Order ID And Your Phone Totack Your Order</h2> 
            <div  class="my-4">
                <form class="my-4" method="POST" id="trackerform" action="#">
                    {% csrf_token %}
                    
                
                    <!-- Form Row for Order ID and Phone Number -->
                    <div class="form-row">
                        <!-- Order ID -->
                        <div class="form-group col-md-6">
                            <label for="order_id">Order ID</label>
                            <input type="text" class="form-control" id="orderid" name="orderid" placeholder="Order ID">
                        </div>
                        
                        <!-- Phone Number -->
                        <div class="form-group col-md-6">
                            <label for="phone_Number">Phone Number</label>
                            <input type="text" class="form-control" id="phone_Number" name="phone_Number" placeholder="Phone Number">
                        </div>
                    </div>
                
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </form>
        </div>
        <div class= "col my-4">
            <H2>Your order Status </h2>
                <div  class="my-4">
                    <ul class="list-group list-group-numbered" id="items">
                        Enter your order Id and phone_Number and click Track Order to find details about your order!
                  </ul> 
                </div>
                <H2>Your order details </h2>
                <div  class="my-4">
                    <ul class="list-group list-group-numbered" id="ditems">

                  </ul> 
                </div>
        </div> 
    </diV>
</div>
{% endblock %}
{%block jS%} 
<script>
$('#trackerform').submit(function(event){
    $('#Items').empty();
    var formData = {
        'orderid':$('input[name=orderid]').val(),
        'phone_Number':$('input[name=phone_Number]').val(),
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
    }
    $.ajax({
        type: "POST",
        url: "/shop/tracker/",
        data: formData,
        encode :true
    })
    .done(function(data) {
        $('#ditems').empty();
        $('#items').empty();
        console.log(data)
        data = JSON.parse(data);
        if (data['status'] == 'success') {
            updates = data['updates'];
            for (i = 0; i < updates.length; i++) {
                let text = updates[i]['text'];
                let time = updates[i]['time'];
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${text}
                <span class="badge badge-primary badge-pill">${time}</span>
            </li>`
                $('#items').append(mystr);
            }
            // Fill in the order details
            cart = JSON.parse(data['itemsJson']);
            console.log(cart);
            for (item in cart) {
                let name = cart[item][1];
                let qty = cart[item][0];
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                ${name}
                <span class="badge badge-primary badge-pill">${qty}</span>
            </li>`
                $('#ditems').append(mystr);
            }
        } else {
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
            $('#items').append(mystr);
            $('#ditems').append(mystr);
        }
    });
event.preventDefault();
})
</script>

{%endblock%}